<h1>To get a new rails app started, do this stuff:</h1>

<h3>Rename your app using this fancy plugin</h3>
rails g rename_to SweetNewName

<h3>Then, delete the plugin</h3>
rm -r "vendor/plugins/Rename"

<h3>Then edit your database.yml file with the app name for the names of each database</h3>

<h3>Then run rake db:create:all</h3>

<h3>Then, Code like a monkey</h3>

